/* Colores */
:root {
  --color-primario: #183152; /* Azul */
  --color-secundario: #f1c40f; /* Amarillo */
  --color-terciario: #cb1b45; /* Rojo */
}

/* Estilos generales */
body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  gap: 1em;
  grid-template-rows: 650px 90px;
  align-items: stretch;
}

/* Estilos de la sección derecha */
.right {
  background-color: var(--color-terciario);
  padding: 1em;
  /*color: white;*/
  border-radius: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /*background-color: #f2f2f2;*/
  font-size: 16px;
  box-shadow: none;
}

button {
  background-color: var(--color-primario);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25px;
  border: 2px solid var(--color-primario);
  cursor: pointer;
}

button:hover {
  background-color: transparent; /* Azul más oscuro al pasar el mouse */
}

/* Estilos de la sección central */
.general {
  display: grid;
  grid-template-rows: 300px 300px;
  gap: 1em;
  grid-template-columns: 1fr;
}

.opciones {
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.opciones button {
  background-color: rgb(231, 138, 17);
  color: beige;
  font-weight: 600;
  padding: 15px;
  margin: 10px 5px; 
  font-size: 100%;
  text-transform: uppercase;
  border: transparent;
  border-radius: 5px;
  transition: 0.5s;
  width: 80%;
  max-width: 120px;
}

.mostraropciones {
  background-color: var(--color-secundario);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* Estilos de la sección izquierda */
.left {
  background-color: var(--color-terciario);
  padding: 1em;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}



/* Estilos del footer */
.down {
  grid-column: 1/4;
  grid-row: 0px;
  background-color: var(--color-primario);
  text-align: center;
  border-radius: 10px;
}

/* Estilos de los inputs */
input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  /*background-color: #f2f2f2;*/
  font-size: 16px;
  box-shadow: none;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--color-primario);
}

/* Estilos adicionales 
.hidden {
  display: none;
}*/

/* Estilos de los segmentos */
.right {
  /* Resto de estilos */
  border: 2px solid var(--color-terciario);
}
/* Resto de estilos */
.general {
  
  border: 2px solid var(--color-primario);
} 


.left {
  /* Resto de estilos */
  border: 2px solid var(--color-secundario);
}

.down {
  
  border: 2px solid var(--color-secundario);
}


/* Estilos del borde al pasar el mouse */
.right:hover {
  border: 2px solid var(--color-secundario);
}


/*.general:hover {
  border: 2px solid var(--color-terciario);
}

.left:hover {
  border: 2px solid var(--color-primario);
}

.down:hover {
  border: 2px solid var(--color-terciario);
}*/


/* Estilos de los botones al pasar el mouse */
button:hover {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  border-color: var(--color-secundario);
}

.logo {
  width: 150px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* Ajusta la altura automáticamente según el ancho */
  margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
}

.hidden {
  display: none;
}

#Generar-boleta {
  background-color: #5b9929;
  border: none;
}
